[user]
    name = h5law 
    email = dev@h5law.com
    signingKey = 5E13EF45407F11ED9D86A79F51F7D17EC2E1BBE3

[include]
    path = ~/.delta-themes.config

[commit]
    gpgSign = true

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[init]
    defaultBranch = main

[tag]
    gpgsign = true

[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
    pager = delta

[safe]
    repository = ./

[pretty]
    better-oneline = "format:%C(auto)%h%d %s %Cblue[%cn]"

[alias]
    c  = commit
    s  = status
    d  = diff
    dc = diff --cached
    ds = diff --staged

    # Shows all branches
    branches = branch -a
    # Shows all tags
 	tags     = tag

    # Shows commit info in its tree form
	tree  = log --pretty=better-oneline --all --graph
    # Show commit into in its ls form
	ls    = log --pretty=better-oneline
    # Shows commit info in its ll form
	ll    = log --pretty=better-oneline --numstat
	details = "!f() { git ll "$1"^.."$1"; }; f"

    pull = pull --ff-only
    main = checkout main
    last = checkout -

    # Add all exisisting files and show status
	a   = !cd ${GIT_PREFIX:-.} && git add . && git s
    # Add all files, exisisting and new and show status  
	aa  = !git add -A && git s
    # Add all exisisting files and commit
 	ac  = !cd ${GIT_PREFIX:-.} && git add . && git c
    # Add all files, exisisting and new and commit
	aac = !git add -A && git c

    # Doesn;t affect changes, adds back to workspace from staging area
    unstage  = reset HEAD
    # CAREFUL: undooes changes, deletes new files - effectively gives a new slate
	cleanout = !git clean -df && git checkout -- .

	uncommit = reset --soft HEAD~1
	unmerge  = reset --hard ORIG_HEAD

    merge-span  = "!f() { echo $(git log -1 $2 --merges --pretty=format:%P | cut -d' ' -f1)$1$(git log -1 $2 --merges --pretty=format:%P | cut -d' ' -f2); }; f"
	merge-log   = "!git ls `git merge-span .. $1`"
	merge-diff  = "!git diff `git merge-span ... $1`"


[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[interactive]
    diffFilter = delta --color-only --features=interactive

[merge]
    conflictstyle = diff3

[delta]
    features = colibri unobtrusive-line-numbers decorations interactive
    whitespace-error-style = 22 reverse
    side-by-side = true
    colorMoved = default
    navigate = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "unobtrusive-line-numbers"]
    line-numbers = true
    line-numbers-minus-style = "#444444"
    line-numbers-zero-style = "#444444"
    line-numbers-plus-style = "#444444"
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}│"
    line-numbers-left-style = blue
    line-numbers-right-style = blue

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box
