[user]
    name = harry
    email = 53987565+h5law@users.noreply.github.com
    signingKey = 7237373D83B47ACEEF420880330669D11815893C

[commit]
    gpgSign = true

[credential]
    helper = store --file ~/.sec/h5law-github-pat.txt
    helper = cache --timeout 3600

[init]
    defaultBranch = main

[tag]
    gpgsign = true

[core]
    editor = nvim
    excludesfile = /Users/harry/.gitignore_global

[safe]
    repository = ./

[alias]
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
